{:sim-threshold 25
 :main [{:des "g + h to f16"
         :rules [[{:sim [:g :h]} :f16]]}
        {:des "f + j to f17"
         :rules [[{:sim [:f :j]} :f17]]}
        {:des "d + k to f18"
         :rules [[{:sim [:d :k]} :f18]]}
        {:des "s + l to f19"
         :rules [[{:sim [:s :l]} :f19]]}
        {:des "a + ; to f20"
         :rules [[{:sim [:a :semicolon]} :f20]]}]}